{
  "$schema": "https://json.schemastore.org/prettierrc",
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 140,
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "always",
  "quoteProps": "consistent",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx", "cva", "cn"]
}
